@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700&display=swap');

* {
    font-family: Poppins, sans-serif;
    box-sizing: border-box;
    margin: 0;
}

body {
    background-image: url('assets/images/1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.nav-logo {
    padding-top: 20px;
}

.fa-envelope {
    display: inline-block;
    border-radius: 50%;
    background-color: rgb(77, 75, 75);
    color: #fff;
    padding: 15px;
    font-size: 20px;
    margin-left: 60px;
    cursor: pointer;
    margin-top: -20px;
}

/*Navbar*/
.navbar {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(73, 71, 71);
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    padding-bottom: 5px;
}

.nav-links {
    margin-right: 140px;
}

.nav-links ul {
    display: flex;

}

.nav-links ul li {
    list-style: none;
    margin-top: 15px;
    width: 90px;
}

.nav-links ul li a {
    text-decoration: none;
    color: red;
}
.nav-links ul li a:hover{
    color: yellowgreen;
}

.f-slash {
    padding-left: 10px;
    color: white;
}

.section {
    justify-content: center;
    align-items: center;
    text-align: center;
    top: 50%;
    left: 50%;
}

.image-container img {
    width: 350px;

    margin-top: 20px;
}

.text-container h2 {
    line-height: 58px;
    font-size: 38px;
}

.text-container .button {
    cursor: pointer;
    background: rgba(0, 0, 0, .2);
    border: none;
    border-radius: 5px;
    height: 40px;
    padding-top: 15px;
    padding-bottom: 35px;
    margin-top: 35px;
    margin-bottom: 70px;
    transition: transform .3s ease-out;
}

.text-container .button:hover {
    animation: pulse 1s infinite;
    transition: .3s;
}

.text-container .button a {
    color: #eee;
    text-decoration: none;
    margin-left: 35px;
    margin-right: 35px;
    margin-top: 45px;
    margin-bottom: 45px;
}

.text-container .button a .icon {
    margin-left: 10px;
}

@media screen and (max-width: 696px) {
    .fa-envelope {
        margin-left: 10px;
    }

    .f-slash {
        display: none;
    }

    .nav-links ul li {
        list-style: none;
        width: 40px;
    }

    .nav-links ul li a {
        text-decoration: none;
        color: #eee;
    }

    .nav-links {
        margin-right: 0px;
    }

    .navbar {
        display: flex;
        justify-content: space-around;
    }
}

h2 {
    font-size: 72px;
    background: linear-gradient(to right, #bafc05 0%, #ba24ff 100%);
    -webkit-background-clip: text;
    background-clip: none;
    -webkit-text-fill-color: transparent;
}



/*Slider*/
.slider {
    height: 150px;
    width: 100%;
    display: grid;
    place-items: center;
    position: relative;
    overflow: hidden;
    background: rgb(49, 49, 49);
}

.slide-truck {
    display: flex;
    width: calc(250px * 10);
    animation: scroll 305s linear infinite;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-250px * 9));
    }
}

.slide {
    height: 100px;
    width: 150px;
    display: flex;
    align-items: center;
    padding: 15px;
    perspective: 100px;
    padding-bottom: 10px;
}

img {
    width: 100%;
    transition: transform 1s;
}

img:hover {
    transform: translateZ(20px);
}

/*Section 3*/

.subtitle h3 {
    text-align: center;
    margin-top: 15px;
    align-items: center;
    font-size: 20px;
    color: #bdb8b8;
}

.bx-container .first-boxes {
    display: flex;
    justify-content: space-around;
    position: absolute;
    margin-left: 35px;
    margin-right: 35px;
    flex-wrap: nowrap;
}

.box {
    border: 1px solid rgba(0, 0, 0, .4);
    gap: 8px;
    height: 350px;
    margin: 15px;
    padding: 10px;
    background-color: rgba(0, 0, 0, .2);
    border-radius: 3px;
}

.box .icon .fa-solid {
    margin-top: 80px;
}

@media screen and (max-width: 496px) {
    .bx-container .first-boxes {
        flex-direction: column;
    }

}

.text-cont {
    margin-top: 450px;
    text-align: center;
    font-size: 24px;
    margin-left: 40px;
    margin-right: 40px;
}
.text-cont h3{
    margin-bottom: 20px;
}

@media screen and (max-width: 1000px) {

    .bx-container .first-boxes {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .text-cont {
        margin-top: 850px;
        text-align: center;
        margin-left: 40px;
        font-size: 24px;
        margin-right: 40px;
    }

}

@media screen and (max-width: 500px) {

    .bx-container .first-boxes {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .text-cont {
        margin-top: 360%;
        text-align: center;
        margin-left: 40px;
        font-size: 24px;
        margin-right: 40px;
    }

}


.button-2 {
    cursor: pointer;
    background: rgba(0, 0, 0, .2);
    border: none;
    border-radius: 5px;
    height: 40px;
    padding: 20px;
    padding-bottom: 35px;
    transition: transform .3s ease-out;
    color: white;
}

.button-2:hover {
    animation: pulse 1s infinite;
    transition: .3s;
}
@keyframes pulse {
    0% {
      transform: scale(1);
    }
    70% {
      transform: scale(.9);
    }
      100% {
      transform: scale(1);
    }
  }

.text-cont span {
    margin-left: 10px;
}

.footer{
    display: flex;
    justify-content: space-between;
    border-top: .5px solid #3b3a3a;
    margin-top: 40px;
}
.box .icon .fa-solid{
    font-size: 30px;
    margin-bottom: 20px;
    color: greenyellow;
}
.footer .nav-links ul li a span .fa-brands{
    margin-bottom: 30px;
}
.paragraph p{
    margin-top: 20px;
}
@media screen and (max-width: 470px) {
    .text-cont {
        margin-top: 400%;
        text-align: center;
        margin-left: 40px;
        font-size: 24px;
        margin-right: 40px;
    }

}
@media screen and (max-width: 378px) {
    .text-cont {
        margin-top: 440%;
        text-align: center;
        margin-left: 40px;
        font-size: 24px;
        margin-right: 40px;
    }

}
@media screen and (max-width: 344px) {
    .text-cont {
        margin-top: 460%;
        text-align: center;
        margin-left: 40px;
        font-size: 24px;
        margin-right: 40px;
    }

}

@media screen and (max-width: 330px) {
    .text-cont {
        margin-top: 480%;
        text-align: center;
        margin-left: 40px;
        font-size: 24px;
        margin-right: 40px;
    }

}
.button-2 a{
    text-decoration: none;
    color: white;
}
.navbar .nav-logo .icon a{
    text-decoration: none;
    color: white;
}
